:root {
  --main-color-h: 204;
  --main-color-s: 68%;
  --main-color-l: 49%;
  --main-color: hsl(var(--main-color-h), var(--main-color-s), var(--main-color-l));
  --faded-main-color: hsl(var(--main-color-h), calc(var(--main-color-s) - 15%), calc(var(--main-color-l) + 45%));
  --darker-main-color: hsl(var(--main-color-h), var(--main-color-s), calc(var(--main-color-l) - 15%));
}

* { 
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: worker,serif;
  font-weight: 300;
  font-style: normal;
}

h1.logo {
  font-weight: 600;
}

html {
  font-family: mr-eaves-xl-sans, sans-serif;
  font-size: 16pt;
}

.wrapper {
  margin: 0 auto;
  padding: 15px;
}

a[href] {
  text-decoration: none;
  color: var(--main-color);
}

a[href]:hover {
  color: var(--darker-main-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside {
  background-color: var(--faded-main-color);
  padding: 15px;
}

aside ul a {
  padding: 7px 0;
  display: block;
}

blockquote {
  text-align: center;
}
